<header>
    <hr/>
      <nav>
        <p>
          <div id="home_page_logo">
            <a href="/"><img src="http://a254.phobos.apple.com/us/r1000/120/Purple2/v4/c6/aa/e2/c6aae2df-4790-f445-f73f-47b3b6b273b3/mzl.etoygrzh.png"/></a>
          </div>
        </p>
      </nav>
    <hr/>
</header>
