<header>
    <hr/>
      <nav>
        <p>
          <a href="/">A Moment of Zen</a>
        </p>

        <p>
          <a href="/profile" class="profile_button">Sample Profile</a>
        </p>
      </nav>
    <hr/>
</header>
