<header>
    <hr>
      <nav>
        <div id="logo_picture">
          <a href="/"><img id="home_page_logo"src="http://www.blogcdn.com/www.engadget.com/media/2007/04/4-28-07-zen_stone.jpg"/></a>
        </div>
      </nav>
    <hr/>
</header>
