<form action="/profile/edit" method="POST">
          <input type='hidden' name='_method' value="PUT" />
          <label for="name">Update My Personal Information</label>
          <br></br>
          <label for="name">Name: </label>
          <input id="name" type="text" name="name">
          <br></br>
          <label for="age">Age: </label>
          <input id="age" type="text" name="age">
          <br></br>
          <label for="location">Location: </label>
          <input id="location" type="text" name="location">
          <br></br>
          <label for="ice cream flavor">Favorite Ice-cream Flavor: </label>
          <input id="ice cream flavor" type="text" name="favorite ice-cream flavor">
          <br></br>
          <input type="submit" value="Update"/>
  </form>
