<a href="/">Home</a>
<h2>Update My Personal Profile</h2>
<section class="edit_profile_form">
     <form action="/profile/edit" method="POST">
               <input type='hidden' name='_method' value="PUT" />
               <!-- <label for="name">Update My Personal Information</label> -->
               <br></br>
               <label for="name">Name: </label>
               <input id="name" type="text" name="name">
               <br></br>
               <label for="age">Age: </label>
               <input id="age" type="text" name="age">
               <br></br>
               <label for="location">Location: </label>
               <input id="location" type="text" name="location">
               <br></br>
               <label for="ice cream flavor">Favorite Ice-cream Flavor: </label>
               <input id="ice cream flavor" type="text" name="favorite ice-cream flavor">
               <br></br>
               <label for="feeds">Choose Your feeds: </label>
               <br></br>
               <% @profiles.each do |profile| %>
                    <label for="nytimes_most_popular">NYTimes Most Popular Articles</label>
                    <% if profile["nytimes_most_popular"] == "on" %>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular" checked>
                    <% else %>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular">
                    <% end %>
                    <br></br>

                    <label for="nytimes_article_search">NYTimes Search For Articles</label>
                    <% if profile["nytimes_article_search"] == "on" %>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search" checked>
                    <% else %>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search">
                    <% end %>
                    <br></br>

                    <label for="local_weather">Local Weather</label>
                    <% if profile["local_weather"] == "on" %>
                         <input id="local_weather" type="checkbox" name="local_weather" checked>
                    <% else %>
                         <input id="local_weather" type="checkbox" name="local_weather">
                    <% end %>
                    <br></br>

                    <label for="twitter_my_timeline">My Twitter Timeline</label>
                    <% if profile["twitter"] == "on" %>
                         <input id="twitter" type="checkbox" name="twitter" checked>
                    <% else %>
                         <input id="twitter" type="checkbox" name="twitter">
                    <% end %>
                    <br></br>

                    <label for="instagram_my_feed">My Instagram Feed</label>
                    <% if profile["instagram_my_feed"] == "on" %>
                         <input id="instagram_my_feed" type="checkbox" name="instagram_my_feed" checked>
                    <% else %>
                         <input id="instagram_my_feed" type="checkbox" name="instagram_my_feed">
                    <% end %>

                    <br></br>

                    <label for="instagram_searched_feed">Instagram Search Results</label>
                    <% if profile["instagram_searched_feed"] == "on" %>
                         <input id="instagram_searched_feed" type="checkbox" name="instagram_searched_feed" checked>
                    <% else %>
                         <input id="instagram_searched_feed" type="checkbox" name="instagram_searched_feed">
                    <% end %>

                    <br></br>

               <% end %>
               <input type="submit" value="Update"/>
       </form>
</section>

