<section class="home_page">
  <section class="center_elements_on_home_page">
    <section class="home_page_title">
      <h1>A Moment of Zen</h1>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
    </section>

    <section class="sample_experience_button">
      <a href="/feed">Sample the Experience</a>
      <br></br>
      <br></br>
    </section>

    <section class="login_button">
      <% if session[:access_token] %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="<%= @instagram_uri %>">Login with Instagram</a>
        <br></br>
        <a href="<%= @facebook_uri %>">Login with Facebook</a>
        <br></br>
      <% end %>
    </section>

  </section>
</section>

