<a href="/">Home</a>
<h2>My Personal Profile</h2>
<ul>
  <% @profiles.each do |profile| %>
  <li>Name: <%= profile["name"] %></li>
  <li>Age: <%= profile["age"] %></li>
  <li>Location: <%= profile["location"] %></li>
  <li>Favorite ice-cream flavor: <%= profile["favorite ice-cream flavor"] %></li>
  <br></br>

  <% end %>
  <a href="/profile/edit">Edit My Profile</a>
</ul>
